<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Employee</title>
</head>
<body>
    <style>
        .main-hotair .content-wthree h1{
            text-align: center;
            color: white;
        }

        .emp_section_button {
            text-align: center;
        }

        .emp_section_button p {
            font-size: 16px;
            color: white;
        }

        .list_employee_table {
            margin-left: auto;
            margin-right: auto;
            ;
        }
    </style>

<div style="position: absolute; z-index: -1; inset: 0px; overflow: hidden; background-size: cover; background-repeat: no-repeat; background-position: center center;">
    <video autoplay="" loop="" style="visibility: visible; margin: auto; position: absolute; z-index: -1; top: 50%; left: 0%; transform: translate(0%, -50%); width: 1521px; height: auto;">
        <source src="freelan.mp4" type="video/mp4">
    </video>
</div>

<div class="main-hotair">
    <div class="content-wthree">
        <h1>Display List Employees</h1>
    </div>
</div>

<div class="emp_section_button">
    <p>Proceed to Add Employee Page 
        <button onclick="/templates/AddEmp.html">Add employee</button>
    </p>
</div>

<table class="list_employee_table">
        <tr>
            <th>Employee Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Primary Skill</th>
            <th>Location</th>

        {% for data in data %}
        </tr>
            <td>{{ data[0] }}</td>
            <td>{{ data[1] }}</td>
            <td>{{ data[2] }}</td>
            <td>{{ data[3] }}</td>
            <td>{{ data[4] }}</td>
        <tr>
        {% endfor %}
</table>

</body>
</html>
