<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Emp id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Pri skill</th>
            <th>Location</th>
            <th>OT</th>
            <th>Insurance</th>
            <th>Allowance</th>
        </tr>
    
        <tr>
            <td>{{emp_id}}</td>
            <td>{{first_name}}</td>
            <td>{{last_name}}</td>
            <td>{{pri_skill}}</td>
            <td>{{location}}</td>
            <td>{{ot}}</td>
            <td>{{insurance}}</td>
            <td>{{allowance}}</td>
        </tr>
    </table>
</body>
</html>