<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Employee</title>
</head>
<body>
    <style>
        .main-hotair .content-wthree h1{
            text-align: center;
        }

        .emp_section_button {
            text-align: center;
        }

        .emp_section_button p {
            font-size: 16px;
        }

        .list_employee_table {
            margin-left: auto;
            margin-right: auto;
        }
    </style>

<div class="main-hotair">
    <div class="content-wthree">
        <h1>Display List Employees</h1>
    </div>
</div>

<div class="emp_section_button">
    <p>Proceed to Add Employee Page 
        <button onclick="/templates/AddEmp.html">Add employee</button>
    </p>
</div>

<table class="list_employee_table">
        <tr>
            <th>Employee Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Primary Skill</th>
            <th>Location</th>
        </tr>

        {% for item in data %}
        <tr>
            <td>{{item[0]}</td>
            <td>{{item[1]}</td>
            <td>{{item[2]}</td>
            <td>{{item[3]}</td>
            <td>{{item[4]}</td>
        </tr>
        {% endfor %}
</table>

</body>
</html>